project:
  type: book
  render:  # only render index.qmd and .qmd files in chapters/
    - "index.qmd"
    - "chapters/*.qmd"
  execute-dir: project  # working directory is always root of project
  output-dir: "_build/"

book:
  # Metadata (fill this in):
  repo-url: "https://github.com/ucdavisdatalab/adventures_in_data_science"
  title: "Adventures in Data Science"
  author:
    - name: "Carl Stahmer"
      degrees: PhD
    - name: "Pamela L. Reynolds"
      degrees: PhD
    - name: "Nick Ulle"
      degrees: PhD
    - name: "Tyler Shoemaker"
      degrees: PhD
    - name: "Michele Tobias"
      degrees: PhD
    - name: "Wesley Brooks"
      degrees: PhD
    - name: "Arthur Koehl"
    - name: "Carrie Alexander"
    - name: "Jared Joseph"
    - name: "Liza Wood"
  chapters:
    - "index.qmd"
    # List your chapters in order here.
    - part: "Week 1"
      chapters:
        - "chapters/week01/required-software.qmd"
        - "chapters/week01/research-lifecycle.qmd"
        - "chapters/week01/command-line.qmd"
    - part: "Week 2"
      chapters:
        - "chapters/week02/how-ai-works.qmd"
        - "chapters/week02/version-control.qmd"
        - "chapters/week02/intro-to-data.qmd"
    - part: "Week 3"
      chapters:
        - "chapters/week03/intro-to-r.qmd"
        - "chapters/week03/data-types.qmd"
    - part: "Week 4"
      chapters:
        - "chapters/week04/indexing.qmd"
        - "chapters/week04/aggregation-grouping.qmd"
        - "chapters/week04/data-visualization-principles.qmd"
    - part: "Week 5"
      chapters:
        - "chapters/week05/intro-ggplot2.qmd"
        - "chapters/week05/data-forensics.qmd"
    - part: "Week 6"
      chapters:
        - "chapters/week06/data-reshaping.qmd"
    - part: "Week 7"
      chapters:
        - "chapters/week07/data-structures.qmd"
        - "chapters/week07/strings-regex.qmd"
        - "chapters/week07/getting-data-from-web.qmd"
    - part: "Week 8"
      chapters:
        - "chapters/week08/functions-control-flow.qmd"
    - part: "Week 9"
      chapters:
        - "chapters/week09/web-scraping.qmd"
    - part: "Week 10"
      chapters:
        - "chapters/week10/collaboration.qmd"
        - "chapters/week10/git-for-teams.qmd"
    # - part: "Fundamentals"
    #   chapters:
    #     - "chapters/01_command-line.qmd"
    #     - "chapters/02_version-control.qmd"
    #     - "chapters/03_r-intro.qmd"
    #     - "chapters/04_programming-foundations.qmd"
    #     - "chapters/05_hello-data.qmd"
    #     - "chapters/06_data-structures.qmd"
    #     - "chapters/07_data-forensics.qmd"
    #     - "chapters/08_data-visualization.qmd"
    #     - "chapters/09_data-from-the-web.qmd"
    #     - "chapters/10_strings-regex.qmd"
    - part: "Special Topics"
      chapters:
        - "chapters/11_optical-character-recognition.qmd"
        - "chapters/12_statistics.qmd"
        - "chapters/13_reshaping-tabular-data.qmd"
        - "chapters/14_network-analysis.qmd"
        - "chapters/15_natural-language-processing.qmd"
        - "chapters/16_geospatial-data.qmd"

  # Formatting (be careful about changing these):
  date: now
  repo-actions: [issue, source]
  sidebar:
#    collapse-level: 1
    logo: "/images/datalab-logo-full-color-rgb.png"
    logo-alt: "The logo of the UC Davis DataLab."
    logo-href: "https://datalab.ucdavis.edu/"
    footer: |
      <hr />
      <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">
        <img alt="CC BY-SA 4.0" src="https://img.shields.io/badge/License-CC%20BY--NC--SA%204.0-lightgrey.svg" style="float: right; padding-right: 10px;" />
      </a>

format:
  html:
    theme: cosmo
    toc: true
  # Uncomment to also generate a PDF:
  # pdf: default

# Uncomment if you want to use BibTex or BibLaTeX references.
bibliography: references.bib

# Cache computations from each chapter:
execute:
  freeze: auto
